/* Add this CSS to your project */

/* Style for the container */
.container-fluid {
  margin-top: 20px;
}

/* Style for the input fields and labels */
label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

input {
  width: 100%;
  padding: 5px;
  margin-bottom: 10px;
}

/* Style for the button */
button {
  display: block;
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

/* Style for the room name */
p {
  font-weight: bold;
  margin-top: 20px;
}

/* Style for the room */
.room {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

/* Style for rows */
.row {
  display: flex;
}

/* Style for boxes */
.box {
  width: 60px;
  height: 60px;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  margin: 2px;
  cursor: pointer; /* Add this to make the boxes clickable */
}

/* Style for red boxes */
.red-box {
  background-color: #19105b;
  border: 1px solid #ccc; /* Maintain the border for red boxes */
  margin: 2px;
  color: white;
  font-weight: bold;
  text-align: center;
}

.grey-box{
  background-color: lightblue;
}

/* .room-container{
  background-color:#19105b;
  margin: 10px;
  text-align: center;
} */